:root { 
  --primary-color: #3498db;
  --info-color: #8e44ad;
  --success-color: #2ecc71;
  --warning-color: #f1c40f;
  --danger-color: #e74c3c;
  --grey-color: #7f8c8d;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 100vh;
  background: black;
  color: white;
}

.side-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100vh;
  background-color: #333;
  padding-top: 20px;
}

.side-nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.side-nav li {
  position: relative;
  margin-bottom: 10px;
}

.side-nav a {
  text-decoration: none;
  position: relative;
  color: var(--grey-color);
  padding: 10px 20px;
  display: block;
  transition: color 0.3s, background-size 0.45s 0.04s;
}

.side-nav li::before {
  position: absolute;
  content: "";
  top: 0;
  left: -1rem;
  width: 0.25rem;
  height: 100%;
  transition: left 0.6s;
}


.side-nav ul li:nth-child(1) a { --menu-link-active-color: var(--primary-color); }
.side-nav ul li:nth-child(2) a { --menu-link-active-color: var(--info-color); }
.side-nav ul li:nth-child(3) a { --menu-link-active-color: var(--success-color); }
.side-nav ul li:nth-child(4) a { --menu-link-active-color: var(--warning-color); }
.side-nav ul li:nth-child(5) a { --menu-link-active-color: var(--danger-color); }
.side-nav ul li:nth-child(6) a { --menu-link-active-color: var(--primary-color); }
.side-nav ul li:nth-child(7) a { --menu-link-active-color: var(--info-color); }
.side-nav ul li:nth-child(8) a { --menu-link-active-color: var(--success-color); }
.side-nav ul li:nth-child(8) a { --menu-link-active-color: var(--warning-color); }


.side-nav li:hover::before {
  left: calc(100% + 1rem);
}

.side-nav li:hover a {
  color: var(--menu-link-active-color);
}

.main-content {
  margin-left: 220px; 
  padding: 20px;
}

